<article>
  {% unless page.no_header %}
    <div class="entry-header">
      <h1 class="entry-title">
        {% if index %}
          <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
        {% else %}
          {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
        {% endif %}
      </h1>
    {% endunless %}
  </div>

  <div class="entry-content">{{ content }}</div>
</article>
